<div id="work" class="portfolio-area over-hidden pt-155 pb-140">
  <div class="portfolio-wrapper position-relative">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="title text-center mb-65">
            <span class="theme-color f-700 d-block mb-6">Portfolio</span>
            <h3 class="mb-20">Meus Projetos</h3>
          </div>
        </div>
      </div>

      <div class="row portfolio-grid">
        <div
          (click)="openModal(project)"
          data-toggle="modal"
          data-target="#modal-portfolio-view"
          *ngFor="let project of projects"
          class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 grid-item"
          [ngClass]="project.filter">
          <div class="single-portfolio position-relative over-hidden mb-24">
            <img class="w-100" [src]="project.thumbnail" alt="image" />

            <div class="port-over-content position-absolute left-0 pl-40 pr-40 pb-30 pt-40">
              <span class="text-white f-700 mb-2 d-block text-uppercase">{{ project.title }}</span>
              <h5 class="text-white">{{ project.subtitle }}</h5>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal fade"
        id="modal-portfolio-view"
        tabindex="-1"
        role="dialog"
        aria-labelledby="modal-portfolio-view"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="close-icon float-right pt-10 pr-10">
              <button type="button" class="close d-inline-block" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fa fa-times"></i></span>
              </button>
            </div>
            <div class="modal-content border-0">
              <div class="modal-body pl-50 pr-50 pt-10 pb-20">
                <div class="blog-modal-img">
                  <div class="notebook-container">
                    <img [src]="selectedProject?.notebook" alt="Notebook" class="notebook-image" />
                    <div class="screen-content">
                      <img [src]="selectedProject?.image" alt="Indisponível" class="scrollable-content" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                    <div class="content-wrapper">
                      <h2 class="modal-title">{{ selectedProject?.title }}</h2>
                      <p [innerHTML]="selectedProject?.about" class="mb-0"></p>
                      <h2 class="modal-title">Descrição do Projeto</h2>
                      <p [innerHTML]="selectedProject?.description" class="mb-0"></p>
                    </div>
                  </div>

                  <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                    <div class="meta-wrapper form-bg mt-60 pt-40 pb-45 pr-20 pl-45 mt-40 mb-10">
                      <ul class="item-meta">
                        <li>
                          Cliente : <span class="pl-2 openS-font-family">{{ selectedProject?.title }}</span>
                        </li>
                        <li>
                          Categoria : <span class="pl-2 openS-font-family">{{ selectedProject?.category }}</span>
                        </li>
                        <li>
                          Ano :<span class="pl-2 openS-font-family">{{ selectedProject?.year }}</span>
                        </li>
                        <li>
                          Tecnologia : <span class="pl-2 openS-font-family">{{ selectedProject?.technology }}</span>
                        </li>
                      </ul>
                      <a
                        [href]="selectedProject?.url"
                        target="_blank"
                        class="btn btn-primary position-relative over-hidden theme-bg text-uppercase mt-20 pt-2 pb-2"
                        >Visualizar Site</a
                      >
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="content-wrapper">
                      <h4 class="modal-title">Principais Benefícios:</h4>
                      <p [innerHTML]="selectedProject?.benefits" class="mb-0"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
