<section
  class="fun-fact-area section-bg position-relative over-hidden pt-150 pb-120"
  data-aos="fade-up"
  data-aos-duration="1800">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-6 col-md-12 col-sm- col-">
        <div class="fun-fact-content mb-50 mr-lg-2 mr-xl-0">
          <div class="position-relative">
            <div class="title">
              <span class="theme-color text-uppercase d-block mb-1 mt--5">Curiosidades</span>
              <h2 class="mb-30 text-white">Sistemas Funcionais</h2>
            </div>
          </div>
          <p>Desenvolvimento de sistemas robustos e escaláveis, garantindo desempenho, segurança e eficiência.</p>
        </div>
      </div>

      <div class="col-xl-6 offset-xl-1 col-lg-6 col-md-12 col-sm- col-">
        <div class="row justify-content-center align-items-center">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-10">
            <div class="single-fact d-block d-flex align-items-center border-radius10 mb-30">
              <div class="mr-25 d-flex align-content-start justify-content-center">
                <span class="theme-color d-inline-block counter">10</span>
              </div>
              <h3 class="text-white mb-0">
                Anos de <br />
                Experiência
              </h3>
            </div>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-10">
            <div class="single-fact d-block d-flex align-items-center border-radius10 mb-30">
              <div class="mr-25 d-flex align-content-start justify-content-center">
                <span class="theme-color d-inline-block counter">20</span>
                <span class="per d-inline-block theme-color">+</span>
              </div>
              <h3 class="text-white mb-0">
                Clientes <br />
                Atendidos
              </h3>
            </div>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-10">
            <div class="single-fact d-block d-flex align-items-center border-radius10 mb-30">
              <div class="mr-25 d-flex align-content-start justify-content-center">
                <span class="theme-color d-inline-block counter">50</span>
                <span class="per d-inline-block theme-color">+</span>
              </div>
              <h3 class="text-white mb-0">
                Projetos <br />
                Completos
              </h3>
            </div>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-10">
            <div class="single-fact d-block d-flex align-items-center border-radius10 mb-30">
              <div class="mr-25 d-flex align-content-start justify-content-center">
                <span class="theme-color d-inline-block counter">20</span>
                <span class="per d-inline-block theme-color">+</span>
              </div>
              <h3 class="text-white mb-0">
                Tecnologias <br />
                Utilizadas
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fact-style1 position-absolute d-none d-md-inline-block">
    <img src="./assets/images/shape/fact-icon1.png" width="310" height="410" alt="shape 1" />
  </div>
  <div class="fact-style2 position-absolute d-none d-md-inline-block">
    <img src="./assets/images/shape/fact-icon1.png" width="310" height="410" alt="shape 2" />
  </div>
</section>
