<app-section-slider></app-section-slider>

<app-section-intro></app-section-intro>

<app-section-about></app-section-about>

<app-section-portfolio></app-section-portfolio>

<app-section-fact></app-section-fact>

<app-section-award></app-section-award>

<app-section-experience></app-section-experience>

<app-section-education></app-section-education>

<app-section-skill></app-section-skill>

<app-section-service></app-section-service>

<app-section-pricing></app-section-pricing>

<app-section-testimonial></app-section-testimonial>

<app-section-brand></app-section-brand>

<app-section-contact></app-section-contact>

<app-section-blog></app-section-blog>
