<section id="work" class="portfolio-area over-hidden pb-165">
  <div class="marquee-w mb-125">
    <div class="marquee">
      <span class="pl-4">Desenvolvedor de Software Sênior *</span>
      <span class="pl-4">Desenvolvedor de Software Sênior *</span>
    </div>
    <div class="marquee marquee2 pb-1">
      <span>Estou aberto para novos projetos. Vamos trabalhar juntos * </span>
      <span>Estou aberto para novos projetos. Vamos trabalhar juntos * </span>
    </div>
  </div>

  <div class="portfolio-wrapper position-relative mt--5">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="title text-center">
            <span class="theme-color text-uppercase d-block mb-6">Projetos</span>
            <h2>Alguns Projetos</h2>
          </div>
        </div>
      </div>

      <div class="row portfolio mt-80">
        <div *ngFor="let project of projects" class="col-12">
          <div class="row single-portfolio position-relative theme-border-top align-items-center">
            <div class="col-xl-2 col-lg-2 col-md-7 col-sm- col-">
              <div class="port-category">
                <span class="meta-text-color text-uppercase">{{ project.category }}</span>
              </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm- col- pl-lg-0">
              <h3>{{ project.title }}</h3>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm- col- d-flex justify-content-end align-items-center">
              <img
                class="port-img position-absolute left-0 ml-xl-3 transition5"
                [src]="project.thumbnail"
                alt="portfolio image 1" />
              <div
                (click)="openModal(project)"
                [attr.aria-hidden]="true"
                class="port-content text-center transition5 z-index11"
                data-toggle="modal"
                data-target="#modal_portfolio">
                <span class="d-inline-block"><i class="far fa-plus"></i> </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal fade"
        id="modal_portfolio"
        tabindex="-1"
        role="dialog"
        aria-labelledby="modal_portfolio"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="close-icon float-right pt-10 pr-10">
              <button type="button" class="close d-inline-block" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fa fa-times"></i></span>
              </button>
            </div>
            <div class="modal-content border-0">
              <div class="modal-body pl-50 pr-50 pt-10 pb-20">
                <div class="blog-modal-img">
                  <div class="notebook-container">
                    <img [src]="selectedProject?.notebook" alt="Notebook" class="notebook-image" />
                    <div class="screen-content-section">
                      <img [src]="selectedProject?.image" alt="Indisponível" class="scrollable-content" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                    <div class="content-wrapper">
                      <h2 class="modal-title">{{ selectedProject?.title }}</h2>
                      <p [innerHTML]="selectedProject?.about" class="mb-0"></p>
                      <h2 class="modal-title">Descrição do Projeto</h2>
                      <p [innerHTML]="selectedProject?.description" class="mb-0"></p>
                    </div>
                  </div>

                  <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                    <div class="meta-wrapper form-bg mt-60 pt-40 pb-45 pr-20 pl-45 mt-40 mb-10">
                      <ul class="item-meta">
                        <li>
                          Cliente : <span class="pl-2 openS-font-family">{{ selectedProject?.title }}</span>
                        </li>
                        <li>
                          Categoria : <span class="pl-2 openS-font-family">{{ selectedProject?.category }}</span>
                        </li>
                        <li>
                          Ano :<span class="pl-2 openS-font-family">{{ selectedProject?.year }}</span>
                        </li>
                        <li>
                          Task : <span class="pl-2 openS-font-family">{{ selectedProject?.technology }}</span>
                        </li>
                      </ul>
                      <a
                        [href]="selectedProject?.url"
                        target="_blank"
                        class="btn btn-primary position-relative over-hidden theme-bg text-uppercase mt-20 pt-2 pb-2"
                        >Visualizar Site</a
                      >
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="content-wrapper">
                      <h4 class="modal-title">Principais Benefícios:</h4>
                      <p [innerHTML]="selectedProject?.benefits" class="mb-0"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="centered-component">
      <a
        [routerLink]="['portfolio']"
        download
        class="btn-primary btn position-relative over-hidden theme-bg text-uppercase transition5"
        >Ver Mais</a
      >
    </div>
  </div>
</section>
