<div id="preloader">
  <div id="loading">
    <div id="loading-center">
      <div id="loading-center-absolute">
        <div class="object" id="object_one"></div>
        <div class="object" id="object_two"></div>
        <div class="object" id="object_three"></div>
      </div>
    </div>
  </div>
</div>

<app-header></app-header>

<main class="over-hiddenn">
  <router-outlet />
</main>

<app-footer></app-footer>

<div id="scroll" class="scrollTop text-right">
  <a href="#" class="theme-bg primary-color text-center d-inline-block mr-10 transition5">
    <span><i class="fal fa-angle-double-up"></i></span>
  </a>
</div>

<div class="sc-keuYuY fdnwsh">
  <a
    href="https://api.whatsapp.com/send/?phone=5521981964019&amp;text=Eu+gostaria+de+fazer+um+orçamento.&amp;type=phone_number&amp;app_absent=0"
    target="_blank"
    rel="noreferrer"
    ><img src="./assets/images/icon/whatsapp.svg" width="85" height="85" alt="image" class="sc-kzqdkY cxkuqi"
  /></a>
</div>
