<!--  ====== preloader=============================================  -->
<div id="preloader">
  <div id="loading">
    <div id="loading-center">
      <div id="loading-center-absolute">
        <div class="object" id="object_one"></div>
        <div class="object" id="object_two"></div>
        <div class="object" id="object_three"></div>
      </div>
    </div>
  </div>
</div>
<!-- /preloader -->

<app-header></app-header>

<main class="over-hiddenn">
  <router-outlet />
</main>

<!-- back top -->
<div id="scroll" class="scrollTop text-right">
  <a href="#" class="theme-bg primary-color text-center d-inline-block mr-10 transition5">
    <span><i class="fal fa-angle-double-up"></i></span>
  </a>
</div>
