<!-- ====== award-area-start
  ==================================================== -->
<section class="award-area over-hidden position-relative z-index11 pt-160 pb-170">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="title text-center">
          <span class="theme-color text-uppercase d-block mb-6">Success Stories</span>
          <h2>Awards & Achivements</h2>
        </div>
        <!-- /title -->
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
    <div class="award-wrapper mt-70">
      <div class="row align-items-start theme-border-top award-margin pt-40 pb-35">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-11 col-12">
          <div class="award-logo mt-10 mb-20">
            <a href="#" class="d-block">
              <img src="./assets/images/award/award-logo1.png" alt="award logo 1" />
            </a>
          </div>
          <!-- /award-logo -->
        </div>
        <!-- /col -->
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-12">
          <div class="award-content">
            <h3 class="mb-10">Best Developer</h3>
            <p class="meta-text-color">2022</p>
          </div>
          <!-- /award-content -->
        </div>
        <!-- /col -->
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-12">
          <div class="award-content">
            <h3 class="mb-10">Developer Association</h3>
            <p class="meta-text-color">New York, Usa</p>
          </div>
          <!-- /award-content -->
        </div>
        <!-- /col -->
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-11 col-12">
          <div class="award-content">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore.</p>
          </div>
          <!-- /award-content -->
        </div>
        <!-- /col -->
      </div>
      <!-- /row -->
      <div class="row align-items-start theme-border-top award-margin pt-40 pb-35">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-11 col-12">
          <div class="award-logo mt-10 mb-20">
            <a href="#" class="d-block">
              <img src="./assets/images/award/award-logo2.png" alt="award logo 2" />
            </a>
          </div>
          <!-- /award-logo -->
        </div>
        <!-- /col -->
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-12">
          <div class="award-content">
            <h3 class="mb-10">Developer of the Year</h3>
            <p class="meta-text-color">2021</p>
          </div>
          <!-- /award-content -->
        </div>
        <!-- /col -->
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-12">
          <div class="award-content">
            <h3 class="mb-10">Dev Internatioal</h3>
            <p class="meta-text-color">London, England</p>
          </div>
          <!-- /award-content -->
        </div>
        <!-- /col -->
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-11 col-12">
          <div class="award-content">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore.</p>
          </div>
          <!-- /award-content -->
        </div>
        <!-- /col -->
      </div>
      <!-- /row -->
      <div class="row align-items-start theme-border-top theme-border-bottom award-margin pt-40 pb-35">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-11 col-12">
          <div class="award-logo mt-10 mb-20">
            <a href="#" class="d-block">
              <img src="./assets/images/award/award-logo3.png" alt="award logo 3" />
            </a>
          </div>
          <!-- /award-logo -->
        </div>
        <!-- /col -->
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-12">
          <div class="award-content">
            <h3 class="mb-10">Fastest Coder</h3>
            <p class="meta-text-color">2019</p>
          </div>
          <!-- /award-content -->
        </div>
        <!-- /col -->
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-12">
          <div class="award-content">
            <h3 class="mb-10">Amazing Programmer</h3>
            <p class="meta-text-color">Dhaka, Bangladesh</p>
          </div>
          <!-- /award-content -->
        </div>
        <!-- /col -->
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-11 col-12">
          <div class="award-content">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore.</p>
          </div>
          <!-- /award-content -->
        </div>
        <!-- /col -->
      </div>
      <!-- /row -->
    </div>
    <!-- /award-wrapper -->
  </div>
  <!-- /container -->
</section>
<!-- award-area-end  -->
