<header>
  <div id="header-sticky" class="transparent-header header-area">
    <div class="header">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-5">
            <div class="logo mt-10 mb-10 transition5">
              <a class="header-logo" href="/"><img src="./assets/images/logo/logo.png" alt="THAMES" /></a>
            </div>
          </div>

          <div class="col-xl-10 col-lg-10 col-md-9 col-sm-8 col-7 pl-0 d-flex justify-content-end align-items-center">
            <div class="main-menu">
              <nav id="mobile-menu">
                <ul class="d-block">
                  <li>
                    <a class="active" href="#home">Início</a>
                  </li>
                  <li>
                    <a href="#about">Sobre</a>
                  </li>
                  <li>
                    <a href="#work">Portfólio</a>
                  </li>
                  <li>
                    <a href="#service">Serviços</a>
                  </li>
                  <li>
                    <a href="#contact">Contato</a>
                  </li>
                </ul>
              </nav>
            </div>

            <div class="header-btn pl-45">
              <a
                [href]="cv"
                download
                class="btn-primary btn position-relative over-hidden theme-bg text-uppercase transition5"
                >download cv</a
              >
            </div>
            <div class="mobile-m-bar d-block d-lg-none ml-30">
              <a class="mobile-menubar theme-color" href="javascript:void(0);"><i class="far fa-bars"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="side-mobile-menu pt-15 pb-30 pl-30 pr-20 pb-100">
  <div class="d-fle justify-content-between w-100">
    <div class="close-icon d-inline-block float-right clear-both mt-20 mb-15">
      <a href="javascript:void(0);"
        ><span class="icon-clear theme-color"><i class="fa fa-times"></i></span
      ></a>
    </div>
  </div>
  <div class="mobile-menu mt-10"></div>
  <h5 class="text-white text-center mt-35 pb-1 d-inline-block ml-3">Redes Sociais</h5>
  <ul class="social social-bg text-center d-flex mt-10 ml-3">
    <li *ngFor="let media of socialMedia" class="mr-2 rotate-hover">
      <a class="text-center pr-0 text-white d-block rotate transition-3" [ngClass]="media.class" [href]="media.url"
        ><i [class]="media.icon"></i
      ></a>
    </li>
  </ul>
</div>
<div class="body-overlay"></div>
