<!-- ====== skill-area-start
  ==================================================== -->
<section id="skills" class="skill-area over-hidden position-relative pt-130 pb-110">
  <div class="marquee-w mb-125">
    <div class="marquee">
      <span class="pl-4">Senior Website Developer from New York *</span>
      <span class="pl-4">Senior Website Developer from New York *</span>
    </div>
    <div class="marquee marquee2 pb-1">
      <span class="pl-4">I’m Open for new projects * Let’s Work Together *</span>
      <span class="pl-4">I’m Open for new projects * Let’s Work Together *</span>
    </div>
  </div>
  <!-- /marquee -->

  <div class="container">
    <div class="row align-items-start justify-content-center">
      <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
        <div class="position-relative">
          <div class="title mb-50">
            <span class="theme-color text-uppercase d-block mb-6">My Skill</span>
            <h2 class="mb-25">Growing Over Times</h2>
            <p>
              Sed ut perspiciatis unde omnis iste natus Sed ut perspiciatis unde omnis iste natus kobita tumi sopno
              charini hoye khbor nio na sit voluptatem accusantium dolore.
            </p>
          </div>
          <!-- /title -->
        </div>
      </div>
      <!-- /col -->

      <div
        class="col-xl-6 col-lg-7 offset-xl-1 col-md-12 col-sm-12 col-12"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1400">
        <div class="row justify-content-center mt-10">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-9 mb-30">
            <div class="single-skill mb-15 text-center text-lg-left">
              <div class="progress-circular over-hidden">
                <input
                  type="text"
                  class="knob"
                  value="0"
                  data-rel="80"
                  data-linecap=""
                  data-width="190"
                  data-height="190"
                  data-bgcolor="#9b9db1"
                  data-fgcolor="#80db66"
                  data-thickness=".06"
                  data-readonly="true"
                  disabled=""
                  readonly="readonly" />
                <h4 class="mt-15 text-center">Web Development</h4>
              </div>
            </div>
          </div>
          <!-- /col -->
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-9 mb-30">
            <div class="single-skill text-center">
              <div class="progress-circular over-hidden">
                <input
                  type="text"
                  class="knob"
                  value="0"
                  data-rel="95"
                  data-linecap=""
                  data-width="190"
                  data-height="190"
                  data-bgcolor="#9b9db1"
                  data-fgcolor="#80db66"
                  data-thickness=".06"
                  data-readonly="true"
                  disabled=""
                  readonly="readonly" />
                <h4 class="mt-15 text-center">Hardware Development</h4>
              </div>
            </div>
          </div>
          <!-- /col -->
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-9 mb-30">
            <div class="single-skill mb-15 text-center text-lg-left">
              <div class="progress-circular over-hidden">
                <input
                  type="text"
                  class="knob"
                  value="0"
                  data-rel="90"
                  data-linecap=""
                  data-width="190"
                  data-height="190"
                  data-bgcolor="#9b9db1"
                  data-fgcolor="#80db66"
                  data-thickness=".06"
                  data-readonly="true"
                  disabled=""
                  readonly="readonly" />
                <h4 class="mt-15 text-center">Software Development</h4>
              </div>
            </div>
          </div>
          <!-- /col -->
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-9 mb-30">
            <div class="single-skill text-center">
              <div class="progress-circular over-hidden">
                <input
                  type="text"
                  class="knob"
                  value="0"
                  data-rel="75"
                  data-linecap=""
                  data-width="190"
                  data-height="190"
                  data-bgcolor="#9b9db1"
                  data-fgcolor="#80db66"
                  data-thickness=".06"
                  data-readonly="true"
                  disabled=""
                  readonly="readonly" />
                <h4 class="mt-15 text-center">System Application</h4>
              </div>
            </div>
          </div>
          <!-- /col -->
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-9 mb-30">
            <div class="single-skill text-center text-lg-right">
              <div class="progress-circular over-hidden">
                <input
                  type="text"
                  class="knob"
                  value="0"
                  data-rel="60"
                  data-linecap=""
                  data-width="190"
                  data-height="190"
                  data-bgcolor="#9b9db1"
                  data-fgcolor="#80db66"
                  data-thickness=".06"
                  data-readonly="true"
                  disabled=""
                  readonly="readonly" />
                <h4 class="mt-15 text-center">Project management</h4>
              </div>
            </div>
          </div>
          <!-- /col -->
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-9 mb-30">
            <div class="single-skill text-center text-lg-right">
              <div class="progress-circular over-hidden">
                <input
                  type="text"
                  class="knob"
                  value="0"
                  data-rel="85"
                  data-linecap=""
                  data-width="190"
                  data-height="190"
                  data-bgcolor="#9b9db1"
                  data-fgcolor="#80db66"
                  data-thickness=".06"
                  data-readonly="true"
                  disabled=""
                  readonly="readonly" />
                <h4 class="mt-15 text-center">Data Administration</h4>
              </div>
            </div>
          </div>
          <!-- /col -->
        </div>
        <!-- /row -->
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->

  <div class="skill-text-style position-absolute z-index-1 d-none d-md-inline-block">
    <span class="d-inline-block section-text-color">Skills</span>
  </div>
  <!-- /intro-feature-text -->
</section>
<!-- skill-area-end -->
