<section class="education-area over-hidden">
  <div class="container">
    <div class="row position-relative pt-160 pb-170">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="position-relative">
          <div class="title">
            <span class="theme-color text-uppercase d-block mb-1">Formação</span>
            <h2 class="mb-25">Formação Acadêmica</h2>
            <p>Veja as minhas Formações Acadêmicas e Formações Complementares.</p>
          </div>
        </div>
        <div class="education-wrapper mr-20 pt-25 mb-50">
          <ul class="education-content">
            <li class="mb-32 d-flex align-items-start rotate-hover">
              <div class="experience-ser-icon d-inline-block text-center mt-10 mr-30 transition3">
                <span class="theme-color d-inline-block">
                  <span class="d-block rotate flat-family flaticon-graduation-cap"></span>
                </span>
              </div>
              <div class="experience-service-text d-inline-block">
                <h3 class="mb-2">Análise e Desenv. de Sistemas</h3>
                <h4>
                  Universidade Estácio de Sá <span class="meta-text-color openS-font-family"> ( 2015 - 2017 )</span>
                </h4>
              </div>
            </li>
            <li class="mb-32 d-flex align-items-start rotate-hover">
              <div class="experience-ser-icon d-inline-block text-center mt-10 mr-30 transition3">
                <span class="theme-color d-inline-block">
                  <span class="d-block rotate flat-family flaticon-graduation-cap"></span>
                </span>
              </div>
              <div class="experience-service-text d-inline-block">
                <h3 class="mb-2">Engenharia de Software</h3>
                <h4>
                  Universidade Estácio de Sá <span class="meta-text-color openS-font-family"> ( 2021 - 2022 )</span>
                </h4>
              </div>
            </li>

            <li class="mb-32 d-flex align-items-start rotate-hover">
              <div class="experience-ser-icon d-inline-block text-center mt-10 mr-30 transition3">
                <span class="theme-color d-inline-block">
                  <span class="d-block rotate fas fa-file-certificate"></span>
                </span>
              </div>
              <div class="experience-service-text d-inline-block">
                <h3 class="mb-2">Angular</h3>
                <h4>Digital Innovation One <span class="meta-text-color openS-font-family"> ( 2023 - 2023 )</span></h4>
              </div>
            </li>

            <li class="mb-32 d-flex align-items-start rotate-hover">
              <div class="experience-ser-icon d-inline-block text-center mt-10 mr-30 transition3">
                <span class="theme-color d-inline-block">
                  <span class="d-block rotate fas fa-file-certificate"></span>
                </span>
              </div>
              <div class="experience-service-text d-inline-block">
                <h3 class="mb-2">Java Microservices</h3>
                <h4>Alura <span class="meta-text-color openS-font-family"> ( 2022 - 2023 )</span></h4>
              </div>
            </li>

            <li class="mb-32 d-flex align-items-start rotate-hover">
              <div class="experience-ser-icon d-inline-block text-center mt-10 mr-30 transition3">
                <span class="theme-color d-inline-block">
                  <span class="d-block rotate fas fa-file-certificate"></span>
                </span>
              </div>
              <div class="experience-service-text d-inline-block">
                <h3 class="mb-2">React Native</h3>
                <h4>Alura <span class="meta-text-color openS-font-family"> ( 2022 - 2022 )</span></h4>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div
        class="col-xl-5 offset-xl-1 col-lg-6 col-md-12 col-sm-12 col-12 d-lg-blok d-flex align-items-center justify-content-center">
        <div class="education-img position-relative text-center" data-aos="fade-left" data-aos-duration="2000">
          <img
            class="border-radius12"
            src="./assets/images/education/education-img.webp"
            width="536"
            height="725"
            alt="education image" />
        </div>
      </div>
    </div>
  </div>
</section>
